---
import Header from "../components/Header.astro";

// Props for the layout
interface LayoutProps {
  title: string;
  lang?: string;
  description?: string;
}
const { title, lang = "tr", description = "" } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang} class="h-full">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content={description} />
  <title>{title} | Simge Özgündöndü</title>
  <link rel="stylesheet" href="/styles/global.css" />
</head>
<body class="flex flex-col min-h-screen">
  <Header />
  
  <main class="container mx-auto p-4">
    <slot /> 
  </main>
  
</body>
</html>
